/*
* checkout.css" is a special file that will automatically be loaded in your checkout process pages
*/
body {
  background-color: #34495E;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif; }

/*# sourceMappingURL=checkout.css.map */
