//the background color
$p_color_background:  #34495E;




/*
* checkout.css" is a special file that will automatically be loaded in your checkout process pages
*/


body
{
    background-color: $p_color_background;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}

