//the color for all hyperlinks
$a_color: #2C3E50  ;//#27579F

//the color for each horizontal wide div
$header_main_background: #34495e;
$header_sub_background: #E1E4ED;

$footer_listing_background: #34495e;
$footer_copyright_background: #2c3e50;

//the color of the pagination(previous 2 3 4 next) when there are multiple pages
$pagination_color: #34495e;

//change the default button and effect
$btn_primary_color: white;
$btn_primary_background: #34495e;
$btn_primary_border: #B5BCCE;
$btn_primary_effect_color: white;
$btn_primary_effect_background: #2C3E50;
$btn_primary_effect_border: #B5BCCE;

//social icons
$socialicon_color: #27579F;
$socialicon_background: #FFFFFF;
$socialicon_border: #B5BCCE;
$socialicon_effect_color: #FFFFFF;
$socialicon_effect_background: #2B78B6;

/*
************************************************************
************************************************************
**** General
************************************************************
************************************************************
*/
html {
    position: relative;
    min-height: 100%;
}

body {
    background: #FFFFFF;
    color: #595959;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 180%;
    padding-top: 80px;
    height: 100%;
    margin-bottom: 250px;
    //same as footer
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a, a:hover, a:focus {
    color: $a_color;
}

h1, h2, h3 {
    font-weight: bold;
}

/*
************************************************************
************************************************************
**** Header
************************************************************
************************************************************
*/
header {
    margin-bottom: 10px;
}

#header_main {
    background: $header_main_background;
    height: 80px;
    /* align vertical*/
    display: flex;
    align-items: center;
}

#header_main_logo a.brand, #header_main_logo a.brand:hover {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
}

#header_main_search .form-group {
    margin-bottom: 0px;
}

#header_sub {
    background: $header_sub_background;
}

#header_sub ul {
    margin-bottom: 2px;
    margin-bottom: 2px;
}

#header_sub_breadcrumb .breadcrumb {
    padding: 0;
    margin-bottom: 0px;
    background: $header_sub_background;
}

@media (max-width: 992px) {
    #header_main {
        height: 180px;
    }
    #header_main > div.container > div {
        height: 50px;
    }
    #header_sub {
      padding-top: 100px;
    }
}

/*
************************************************************
************************************************************
**** Main
************************************************************
************************************************************
*/

/* buttons*/
.btn-primary {
    border-color: $btn_primary_border;
    background-color: $btn_primary_background;
    color: $btn_primary_color;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    border-color: $btn_primary_effect_border;
    background-color: $btn_primary_effect_background;
    color: $btn_primary_effect_color;
}

/* Content general*/
.heading_content {
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-weight: normal;
}

.pagination > li > a, .pagination > li > span {
    color: $pagination_color;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: $pagination_color;
    border-color: $pagination_color;
    color: #FFFFFF;
}

/*
************************************************************
**** Main -> Sidebar
************************************************************
*/
#main_sidebar h3 {
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: normal;
}

#main_sidebar > div {
    border-left: 1px solid #EAEAEA;
    padding-left: 15px;
}

#main_sidebar > div > ul > li.active > a {
    font-weight: bold;
}

#main_sidebar_category > ul > .sidebar_li_level1 {
    margin-left: 0px;
}

#main_sidebar_category > ul > .sidebar_li_level2 {
    margin-left: 10px;
    font-size: 13px;
}

#main_sidebar_category > ul > .sidebar_li_level3 {
    margin-left: 20px;
    font-size: 12px;
}

#main_sidebar_category .fa-chevron-right {
    padding-right: 5px;
    color: #595959;
}

@media (max-width: 768px) {
    #main_sidebar .sidebar-item:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    #main_sidebar .sidebar-item {
        background-color: #fff;
        border: 1px solid #ddd;
        display: block;
        margin-bottom: -1px;
        padding: 10px 15px;
        position: relative;
    }
    #main_sidebar > div {
        border-left: none;
        padding-left: 0px;
    }
}

/*
************************************************************
**** Main -> product grid
************************************************************
*/

#main_content {
    .btn-overlay {
        border-color: $btn_primary_border;
        background-color: $btn_primary_background;
        color: $btn_primary_color;
    }
    .productgrid-items {
        list-style: none;
        padding: 0;
        margin: 0 -20px 20px 0;
        > li {
            float: left;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
    .productgrid-item {
        padding: 0;
        margin: 0;
        .item-inner {
            background: #fff;
            border: 1px solid #eee;
            padding: 10px 10px 0;
            margin: 0 20px 20px 0;
            position: relative;
        }
        img {
            width: 100%;
        }
        h5 {
            background: #fff;
            margin: 0;
            padding: 10px 0;
            font-weight: 700;
            font-size: 14px;
            color: #2c3e50;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: rgba(255, 255, 255, 0.9);
            text-align: center;
            vertical-align: middle;
            -webkit-transition: opacity 300ms;
            -moz-transition: opacity 300ms;
            -o-transition: opacity 300ms;
            transition: opacity 300ms;
        }
        .overlay .preview {
            position: relative;
            top: 50%;
            display: inline-block;
            margin-top: -20px;
        }
        :hover .overlay {
            opacity: 1;
        }
    }
}

/*
************************************************************
**** Main -> product detail
************************************************************
*/
#main_content {
    .thumbnail a > img.img_prod_grid {
        height: 150px;
    }
    .thumbnail a {
        font-size: 12px;
    }
    .caption {
        height: 100px;
        overflow: hidden;
    }
    #placeholder_variants > select {
        display: block;
        margin-bottom: 20px;
    }
    .table_add_to_cart {
        background-color: #F9F9F9;
    }
}

@media (max-width: 768px) {
    #main_content .caption {
        height: 100px;
    }
}

/*
************************************************************
**** Main cart
************************************************************
*/
#main_cart {
    .content_cart {
        padding-bottom: 20px;
    }
    .countryrequired {
        border-style: solid;
        border-color: #b94a48;
    }
    .trhidden {
        display: none;
    }
}



/*
************************************************************
************************************************************
**** Footer
************************************************************
************************************************************
*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    /* Set the fixed height of the footer here */
    height: 200px;
    background-color: #f5f5f5;
}

footer a {
    color: #fff;
}

footer a:hover, footer a:focus {
    color: #fff;
    font-weight: bold;
}

footer h3 {
    color: #fff;
}

/*footer_listing*/
#footer_listing {
    background-color: $footer_listing_background;
    height: 100%;
    h3 {
        border-bottom: 1px solid #EAEAEA;
        padding-bottom: 2px;
        margin-bottom: 10px;
        font-weight: normal;
    }
    .fa-chevron-right {
        padding-right: 10px;
        color: #595959;
    }
}

#footer_listing_social {
    .socialIcons > li > a {
        text-decoration: none;
    }
    .socialIcon {
        background-color: $socialicon_background;
        border: 2px solid $socialicon_border;
        color: $socialicon_color;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding-top: 11px;
        text-align: center;
    }
    .socialIcon:hover {
        background-color: $socialicon_effect_background;
        color: $socialicon_effect_color;
    }
}

/*footer_copyright*/
#footer_copyright {
    background-color: $footer_copyright_background;
    .paymentIcons > li > img {
        width: 32px;
    }
}