{{ solid.embed("config") }}
<!DOCTYPE html>
<html lang="{{solid.getLang('short')}}">

  <head>
  	{{ solid.embed("head_pre") }}
  </head>

  <body>
  	<!-- header -->
  	{{ solid.embed("body_header") }}

  	<!-- main -->
    <main class="container row-fluid">
              <!-- sidebar -->
               <div id="main_sidebar" class="col-xs-12 col-sm-3 col-sm-push-9">
                    {{ solid.embed("helper_sidebar")}}
                </div>

                <!-- grid products -->
                <div id="main_content" class="col-xs-12 col-sm-9 col-sm-pull-3">
                     <section>
                        <article>
                            <!-- page content -->
                            <div class="row-fluid">
                                <h2 class="heading_content">{{ solid.lang("404.page_not_found")}}</h2>
                                <p>{{ solid.lang("404.page_not_found")}}</p>
                            </div>
                        </article>
                	</section>
  			    </div >

                

    </main>

  	<!-- footer -->
  	{{ solid.embed("body_footer") }} 

  </body>
</html>