<div id="main_content_contact">
  <form action="/sendmail" method="post"> 
  	 	<h2 class="heading_content">{{ solid.lang("contact.legend")}}:</h2>
                      
                      
  		{% if solid.getUrlsegment(3) == "true" or solid.getUrlsegment(4) == "true" %}
          	<div class="alert alert-success">
  				{{ solid.lang("contact.message_success")}}
              	</div>
          {% endif %}
                       
          {% if solid.getUrlsegment(3) == "false" or solid.getUrlsegment(4) == "false" %}
          	<div class="alert alert-danger">
  				{{ solid.lang("contact.message_error")}}
              	</div>
          {% endif %}
                      
                      
          <div class="form-group">
               <label for="email">{{ solid.lang("contact.email")}}:</label>
               <input type="email" class="form-control" id="email" name="email" placeholder="">
          </div>
                      
          <div class="form-group">
          	<label for="message">{{ solid.lang("contact.message")}}:</label>
         		<textarea id="message" name="message" class="form-control" ></textarea>
          </div>
            
                               
         <div class="form-group">
              {% set captcha = solid.getCaptcha() %}
              <label for='captcha'>{{ solid.lang("contact.captcha")}}:</label>
              <input type="text" class="form-control" name='captcha[input]' id='captcha'>
              <input name='captcha[id]' type='hidden' id='' value='{{ captcha.id }}' />
         </div>
         <div class="form-group">
         		<label ></label>
              <img src="{{ captcha.image }}" alt="" />  
         </div>
         
         <button type="submit" class="btn btn-primary">{{ solid.lang("contact.submit")}}</button>
  </form>
</div>