  <div id="footer_listing">
  	<div class = "container row-fluid">
                   	<div  id="footer_listing_links"  class="col-sm-3 col-xs-12">
						<h3>{{ solid.lang("footer.links")}}</h3>
						 <ul class="list-unstyled">

					           

						 	{% set str_customfieldfilter = "custom_fields." ~ solid.getGlobal("lang_customfieldgroup_pages") ~".language.value" %}
						 	{% for arr_page in page.getList({(str_customfieldfilter):solid.getLang()}) %}
								{#multilanguage: only show pages where the nicename start with the language key#}
									<li>
										<a href="{{ arr_page.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_page.name }}"><i class="fa fa-chevron-right"></i>{{ arr_page.name }}</a>
                                    </li>
								
                            {% endfor %}
							
                            <li>
								<a href="/contact{{solid.getGlobal("lang_urlsuffix")}}" title="{{ solid.lang("footer.contact")}}"><i class="fa fa-chevron-right"></i>{{ solid.lang("footer.contact") }}</a>
                            <li>
                          </ul>

					</div>   
                  
                  	<div  id="footer_listing_latestupdatedproducts" class="col-sm-3  hidden-xs">
						<h3>{{ solid.lang("footer.latest_updated_products")}}</h3>
						 <ul class="list-unstyled">
                                      {% for arr_product in product.getList({"count":4,"order": "date_modified:desc"}) %}
										{% set p_name = "" %}
								        {% if solid.getGlobal("lang_isdefault") %}
								            {% set p_name = arr_product.name %}
								        {% else %}
								            {% set p_name = attribute(attribute(arr_product.custom_fields,solid.getGlobal("lang_customfieldgroup_products")),solid.getLang("short") ~"name").value %}   
								             {% if p_name == "" %}
								                {% set p_name =  arr_product.name  %}
								            {% endif %}   
								        {% endif %}

                                          <li>
                                              <a href="{{ arr_product.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ p_name }}"><i class="fa fa-chevron-right"></i>{{ p_name }}</a>
                                          </li>
                                      {% endfor %}
                          </ul>
					</div>

                  	<div  id="footer_listing_popularproducts"  class="col-sm-3 hidden-xs">
						<h3>{{ solid.lang("footer.popular_products")}}</h3>
						 <ul class="list-unstyled">
                                      {% for arr_product in product.getList({"count":4,"order":"popularity:desc"}) %}
									    {% set p_name = "" %}
								        {% if solid.getGlobal("lang_isdefault") %}
								            {% set p_name = arr_product.name %}
								        {% else %}
								            {% set p_name = attribute(attribute(arr_product.custom_fields,solid.getGlobal("lang_customfieldgroup_products")),solid.getLang("short") ~"name").value %}    
								             {% if p_name == "" %}
								                {% set p_name =  arr_product.name  %}
								            {% endif %}   
								        {% endif %}
                                          <li>
                                              <a href="{{ arr_product.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ p_name }}"><i class="fa fa-chevron-right"></i>{{ p_name }}</a>
                                          </li>
                                      {% endfor %}
                          </ul>
					</div>
					

                  
                  
                  
                  	<div id="footer_listing_social" class="col-sm-3 hidden-xs">
						<h3>{{ solid.lang("footer.social")}}</h3>
                        {{ solid.embed("helper_social") }}    		
					</div>
 
			</div>
</div>