{% set p = embed.arr_product %}
{% set p_name = solid.getGlobal("product_name")  %}
{% set p_description = solid.getGlobal("product_description") %}
<!-- product details -->
<div id="main_content_productdetail">




   <form action="/cart/add/{{p.id}}{{solid.getGlobal("lang_urlsuffix")}}" method="post">
	   <div>
	      <h2 class="heading_content">{{ p_name }}
	      </h2>
	   </div>



	   <div  class="product_share hidden-xs">
	      <ul class="nav nav-pills">
	         <li>
	            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	         </li>
	         <li>
	            <iframe	src="//www.facebook.com/plugins/like.php?app_id=194266867309086&amp;href={{ p.url|escape }}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21"
	               scrolling="no" frameborder="0"
	               style="border: none; overflow: hidden; height: 21px;"
	               allowTransparency="true"></iframe>
	         </li>
	      </ul>
	   </div>



	   <div class="row">

	      <div class="col-md-5">
	      	 


	      	{% set url_thumbnail = solid.files_url ~ "/img/product/noimage.png" %}
            {% if p.images[0].full != "" %}
              {% set url_thumbnail = p.images[0].full %}
            {% endif %}
	        <img src="{{ url_thumbnail}}" alt="{{ p_name }}" class="img-responsive img-rounded" />

	         <div class="row product_images_lightbox hidden-xs">
	            {% for image in p.images %}
		            <div class="col-sm-6 col-md-6">
		               <div class="thumbnail">
		                  <a href="{{ image.full }}" data-lightbox="{{ p.nicename }}"> 
		                  <img src="{{ image.thumbnail }}" alt="{{ p_name }}" class="img-responsive img-rounded" />
		                  </a>
		               </div>
		            </div>
	            {% endfor %}
	         </div>
	      </div>

	      <div class="col-md-7">
	         <div >
	            <table class="table table_add_to_cart table-bordered">
	               <tbody>
	                  <tr>
	                     <td>{{solid.lang("product.price") }}</td>
	                     <td><strong><span id="placeholder_price">{{ p.price|currency("symbol") }}</span></strong></td>
	                  </tr>
	                  {# shows the variant combinations for the product#}
	                  {% if p.variant_combinations|length > 0 %}
		                  <tr>
		                  		<td></td>
		                  		<td></td>
		                  </tr>
		                  <tr>
		                     <td>{{solid.lang("product.variants") }}</td>
		                     <td>
		                        <div id="placeholder_variants" class="variants">
		                           <label for="variant_combination">{{ solid.lang("product.select_a_combination")}}</label> 
		                           <select	id="variant_combination" name="variant_combination">
		                              {% for variant_combination in p.variant_combinations %}
		                              <option value="{{ variant_combination.id }}">
		                                 {{variant_combination.name }} ({{variant_combination.price|currency("symbol") }})
		                              </option>
		                              {%	endfor %}
		                           </select>
		                        </div>
		                     </td>
		                  </tr>
	                  {% endif %}
	                  <tr>
	                  		<td></td>
	                  		<td></td>
	                  </tr>
	                  <tr>
	                     <td>{{solid.lang("product.quantity") }}</td>
	                     <td><input type="text" name="quantity" id="quantity"  class="form-control" value="1" size="10"></td>
	                  </tr>
	               </tbody>
	            </table>
	         </div>

	         <div class="row-fluid">
	            <div class="col-md-5">
	            </div>
	            <div class="col-md-7" style="text-align:right">
	               <button type="submit" class="btn btn-primary" id ="btnSubmit">{{ solid.lang("product.add_to_cart")}}</button>
	            </div>
	         </div>

	         <hr>

	         <div>
	         	<p>
	               <u><strong>{{solid.lang("product.description")}}:</strong></u>
	            </p>
	            <div>
	            	{{p_description}}
	            </div>
	         </div>

	         <!-- extra fields -->
	         <div>
	            {# stock management#}
	            <p>
	               <u><strong>{{ solid.lang("product.quantity")}}:</strong></u>
	            </p>
	            <p>
	               {% if p.track_stock == 0 %}
	               	  {{ solid.lang("product.always_available")}}
	               {% elseif p.track_stock == 1 %} 
		               {% if p.always_available %} 
		               {{ solid.lang("product.always_available")}}
		               {% else %}
		               {{ p.stock }}
		               {% endif %} 
	               {% elseif p.track_stock == 2%} 
		               {% if p.always_available %} 
		               {{ solid.lang("product.variant_always_available")}} 
		               {%	else %}
		               <span id="placeholder_stock">{{ solid.lang("product.select_variant")}}</span>
		               {%	endif %} 
	               {% endif %}
	            </p>
	            {# custom fields#}
	            {% if p.custom_fields|length > 0 %}
	            	{# only print fields that are not used as multilanguage description fields#}
	            	{% for field_group,arr_field_group in p.custom_fields if  field_group not in [ "translations"] %} 
	            		{% for	field_name, arr_field in arr_field_group %} 
	            			{% if arr_field.value != "" %}
	            				{% set field_label = ""  %}
	            				{% if solid.lang("customfields." ~ field_name|lower) != "" %}
	            					{% set field_label = solid.lang("customfields.inhoud") %}
						        {% else %}
						        	{% set field_label = arr_field.label %}
						        {% endif %}
					            <p>
					               <u><strong>{{field_label}}:</strong></u>
					            </p>
					            <p>{{ arr_field.value }}</p>
					        {% endif %}
	            		{% endfor %}
	            	{% endfor %} 
	            {% endif %}


	         </div>
	         <!-- extra fields -->    
	      </div>
	      <!-- col-md-7 -->  
	   </div>
	   <!-- rpw --> 
   </form>


   {% if p.variant_combinations|length > 0 %}
	   <script type="text/javascript" src="//cdn.solidshops.com/js/solid.js"></script>
	   <script type="text/javascript">
	      /* See the documentation on http://www.solidshops.com/help/javascriptlibrary for information about this library */
	      
	      function callbackStock(result)
	      {

	       var btnAddToCart = document.getElementById("btnSubmit");
	       var productId = result.id;
	       var stock = result.stock;
	       
	      $("#placeholder_stock").html(stock);
	       
	        
	       if(result.stock > 0)
	       {
	         //product is in stock
	         btnAddToCart.removeAttribute("disabled");
	         btnAddToCart.value = "Add to cart";           
	       }
	       else
	       {
	         //product is out of stock
	         btnAddToCart.setAttribute("disabled", "disabled");
	         btnAddToCart.value = "Out of stock";
	       }
	      }
	      
	      SolidJS.symbol = "{{ solid.currency_symbol }} ";
	      SolidJS.thousand = "{{ solid.currency_thousand }}";
	      SolidJS.decimal = "{{ solid.currency_decimal }}";
	        
	       var p = {{ p|json }};
	        
	       var options = new Array();
	       options['placeholder_price'] = "placeholder_price";
	       options['placeholder_variants'] = "placeholder_variants";
	       options['callback_stock'] = "callbackStock";
	      
	        SolidJS.enhanceVariants(p,options);
	      
	   </script>
	{% endif %}
</div>