<!-- cart -->


{% set arr_cart = cart.get() %}


      <form action="" method="post">
          <h1 class="heading_content">{{ solid.lang("cart.shopping_cart")}}</h1>
          <h3>{{ solid.lang("cart.items")}}</h3>
          <hr>
		
          
            {% if arr_cart.items|length > 0 %} 
              <div class="table-responsive">
              <table class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th>{{ solid.lang("cart.image")}}</th>
                          <th>{{ solid.lang("cart.item")}}</th>
                          <th>{{ solid.lang("cart.price")}}</th>
                          <th>{{ solid.lang("cart.quantity")}}</th>
                          <th>{{ solid.lang("cart.sub_total")}}</th>
                          <th>{{ solid.lang("cart.remove")}}</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for arr_item in arr_cart.items %}
                      <tr>
                          <td class="text-center">
                                {% set url_thumbnail = solid.files_url ~ "/img/product/noimage.png" %}
                                {% if arr_item.thumbnail %} 
                                  {% set url_thumbnail = arr_item.thumbnail %}
                                {% endif %}
                                {% if url_thumbnail %} 
                                    <a href="{{ arr_item.url }}{{solid.getGlobal("lang_urlsuffix")}}"><img width="40" height="40" src="{{ url_thumbnail }}" alt="{{ arr_item.name }}"/></a> 
                                {% endif %}
                          </td>
                          <td>
                              <div>
                                  
                                  {% set p_name = "" %}
                                  {% if solid.getGlobal("lang_isdefault") %}
                                      {% set p_name = arr_item.name %}
                                  {% else %}
                                      {% set productObject = product.getList({"id":arr_item.product_id})[0] %}
                                      {% set p_name = attribute(attribute(productObject.custom_fields,solid.getGlobal("lang_customfieldgroup_products")),solid.getLang("short") ~"name").value %}   
                                       {% if p_name == "" %}
                                          {% set p_name =  arr_product.name  %}
                                      {% endif %}   
                                  {% endif %}

                                   <a href="{{ arr_item.url }}{{solid.getGlobal("lang_urlsuffix")}}">{{ p_name }}</a>
                              </div>

                              {% if arr_item.variants|length > 0 %}
                                  <div>
                                     {% for arr_variant in arr_item.variants %}
                                         <strong>{{arr_variant.name}}:</strong> {{arr_variant.value}}
                                      {% endfor %}
                                  </div>
                              {% endif %}  

                              {% if arr_item.attributes|length > 0 %}
                                  <div>
                                        {% for attribute_name,attribute_value in arr_item.attributes %}
                                          {% if attribute_value != "" %}
                                          <strong>{{attribute_name}}:</strong> {{attribute_value}}
                                          <input type="hidden" value="{{attribute_value}}" name="item_attributes[{{arr_item.id}}][{{attribute_name}}]" />
                                         {% endif %} 
                                        {% endfor %}
                                   </div>
                              {% endif %} 

                          </td>
                          <td>{{ arr_item.price|currency("symbol") }}</td>
                          <td><input type="text" name="quantity_{{ arr_item.id }}" class="cart_quantity form-control"  placeholder="{{ arr_item.quantity }}" /></td>
                          <td>{{ arr_item.price_total|currency("symbol") }}</td>
                          <td><a href="/cart/remove/{{arr_item.id}}{{solid.getGlobal("lang_urlsuffix")}}" 	>{{ solid.lang("cart.remove")}}</a></td>
                      </tr>

                      {% endfor %}


                      <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td></td>
                          <td></td>
                      </tr>
                  </tbody>
              </table>
              </div>
           {% else %} 
            {{ solid.lang("cart.empty")}}
           {% endif %} 


        <h3>{{ solid.lang("cart.summary")}}</h3>
          <hr>
            <div class="row">

              <div class="col-md-6">
                <table class="table table-bordered table-striped">
                      <tbody>

 

                        <tr>
                          <td>{{ solid.lang("cart.ship_to")}}</td>
                          <td>{{ solid.htmlShippingCountries() }}</td>
                        </tr>
                        </tbody>
                </table>
               
                
                
                
                {% set shippingRules = shipping.getList({"order":"country:asc"}) %}
                <table class="shippingcost_list table table-bordered table-striped">
   

                      {% for shippingRule in shippingRules %}
                      <tr class="tr_show_{{shippingRule.country|lower}} {% if shippingRule.country|lower != arr_cart.shipping_country|lower %}trhidden{%endif%}">
                        <td><img src="{{solid.files_url}}/img/country/{{shippingRule.country|lower}}.gif" alt="{{shippingRule.country}}"/></td>
                          <td>
                            {% if shippingRule.type == "price" %}
                                 {{ solid.lang("cart.price")}} > {{ shippingRule.price|currency("symbol") }}
                            {% endif %}
                           </td>

                          <td>{{ shippingRule.cost|currency("symbol") }}</td>
                      </tr>
                      {% endfor %}
                </table>

           
                
             </div>


             <div class="col-md-6 " >
                <table class="table table-bordered table-striped">
                      <tbody>
                        <tr>
                          <td>{{ solid.lang("cart.sub_total")}}</td>
                          <td>{{ arr_cart.items_total|currency("symbol") }}  {{arr_cart.tax_setting }}</td>
                        </tr>
                       <tr>
                          <td>{{ solid.lang("cart.shipping_total")}}</td>
                          <td>{{ arr_cart.shipping_total|currency("symbol") }}</td>
                        </tr>
                        <tr>
                          <td>{{ solid.lang("cart.grand_total")}}</td>
                          <td><strong>{{ arr_cart.total|currency("symbol") }}</strong></td>
                        </tr>

                        </tbody>
                </table>
              
             </div>

           </div>
                  
                

        
           <input type="hidden" name="checkout_language" value="{{ solid.getLang() }}"/>
		   
		   
           <hr>
               <div class="row" >
                 <div class="col-md-8">
                 </div>
                 <div class="col-md-2">
                   <button type="submit" class="btn btn-default pull-right"
                          name="btnupdate">{{ solid.lang("cart.update")}}</button>
                 </div>
                 <div class="col-md-2">
                   <button type="submit" class="btn btn-primary pull-right"
                          name="btncheckout">{{ solid.lang("cart.checkout")}}</button>
                 </div>
               </div>


		</form>


