
         {% set arr_cart = cart.get() %}
         



    
      <div id="header_main" class="navbar navbar-inverse navbar-fixed-top" role="banner">
          <div class="container">

              <div  id="header_main_logo" class="col-xs-12 col-sm-12 col-md-4 logo ">
                 <a class="brand" href="{{solid.getGlobal("url_home")}}"> 
                      {{solid.shop_name}}
                 </a>
             </div>

           
              <div  id="header_main_search" class="col-xs-12 col-sm-12 col-md-4 search" >
                   <form  role="search" action="/search/{{solid.getLang("short")}}" method="POST">
                    <div class="form-group">
                                {% if solid.getUrlSegment(1) == "search" %}
                            <input  type="text" class="form-control" placeholder="{{ solid.lang("header.search")}}..." name ="query" value="{{solid.getUrlSegment(3)|url_decode}}">
                        {% else %}
                            <input  type="text" class="form-control header_searchbox" placeholder="{{ solid.lang("header.search")}}..." name ="query" value="">
                        {% endif %}
                    </div>
                  </form>
                 </div>
           
           {% set arr_cart = cart.get() %}
                <div  id="header_main_cart" class=" col-xs-12 col-sm-12 col-md-4 cart" >
                     {% set cart_text = ""%}
                    {% if arr_cart.items_quantity == 0 %}
                         {% set cart_text = solid.lang("header.cart_emty")%}
                    {% else %}
                         {% set cart_text = arr_cart.items_quantity %}

                         {% if arr_cart.items_quantity == 1 %} 
                            {% set cart_text = cart_text ~ " " ~ solid.lang("cart.item") %}
                         {% else %}  
                            {% set cart_text = cart_text ~ " " ~ solid.lang("cart.items") %}
                         {% endif %}
                         {% set cart_text = cart_text ~ " - " ~ arr_cart.total|currency("symbol") %}
                    {% endif %} 
                                    <a class="btn btn-primary pull-right" href="/cart{{solid.getGlobal("lang_urlsuffix")}}"><span class="glyphicon glyphicon-shopping-cart"></span> {{cart_text}}</a>
                </div>


    </div>  </div>
  
