  
<div id = "footer_copyright">
	<div class = "container row-fluid">
				<div class="col-sm-12">
                   <hr>
					<ul class="paymentIcons list-inline pull-right">
					
						{% for str_paymentoption in solid.getGlobal("payment_images") %}
							<li><img src="{{solid.files_url}}/img/cc/32/{{str_paymentoption}}.png" alt="{{str_paymentoption}}" /></li>
						{% endfor %}
                       
					</ul>
					<p>&copy; 2014 - {{solid.shop_name}}</p>
				</div>
	</div>
</div>