 <div id="header_sub" >
     <div class="container row-fluid ">
        {% set firstsegment = solid.getUrlsegment(1) %}



        <!-- breadcrumb -->
          <div id="header_sub_breadcrumb" class="col-xs-12 col-sm-8 col-md-9 hidden-xs">
              <ol class="breadcrumb ">
                <li><a href="{{solid.getGlobal("url_home")}}">{{ solid.shop_name}}</a></li>
                {% if firstsegment == "" %}
                    <li class="active">{{ solid.lang("header.index")}}</li>
                {% elseif firstsegment == "page" %}
                    {% set pa = page.getList({"nicename":solid.getUrlsegment(2)})[0] %}
                    <li class="active">{{ pa.name }}</li>
                {% elseif firstsegment == "category" %}
                    {% set cat_current = category.getList({"nicename":solid.getUrlsegment(2)})[0] %}
                    {% set string_parentcats= "" %}
                    {% if cat_current.parent_id != 0 %}
                      {% set cat_parent = category.getList({"id":cat_current.parent_id})[0] %}
                      {% set string_parentcats = cat_parent.url ~',' ~ cat_parent.name %}
                      {% if cat_parent.parent_id != 0 %}
                        {% set cat_parent = category.getList({"id":cat_parent.parent_id})[0] %}
                        {% set string_parentcats = cat_parent.url ~',' ~ cat_parent.name~'|' ~ string_parentcats %}
                      {% endif %}
                    {% endif %}
                    {% if string_parentcats != "" %}
                      {% set arr_parentcats = string_parentcats|explode("|") %}
                      {% for string_parentcat in arr_parentcats %}
                      {# Don't print the first level category when multilanguage is enabled #}
                          {% set bln_printbreadcrumb = true %}
                          {% if solid.getGlobal("lang_multilanguage") %}
                              {% if loop.index == 1 %}
                                 {% set bln_printbreadcrumb = false %}
                              {% endif %}
                          {% endif %}
                
                          {% if bln_printbreadcrumb  %}
                              {% set arr_parentcat = string_parentcat|explode(",") %}
                              <li><a href="{{arr_parentcat[0]}}{{solid.getGlobal("lang_urlsuffix")}}">{{arr_parentcat[1]}}</a></li>
                          {% endif %}
                      {% endfor %}  
                    {% endif %}
                    <li class="active">{{ cat_current.name }}</li>
                {% elseif firstsegment == "cart" %}
                    <li class="active">Cart</li>

                {% elseif firstsegment == "product" %}
                    {% set p = product.getList({"nicename":solid.getUrlsegment(2)})[0] %}
                    {% set str_product_categories = ""%}
                    {% for prod_cat in p.categories %}
                      {% set str_product_categories = str_product_categories ~ "|" ~ prod_cat.nicename %}
                    {% endfor %}
                    {% set arr_product_categories = str_product_categories|split("|") %}

                      {# only print first level in non multilanguage, only print cats from current language when in multilanguage #}
                      {% if solid.getGlobal("lang_multilanguage") == false  %} 
                        {% for arr_cat in category.getList() %}
                          {% if arr_cat.nicename in arr_product_categories%}
                            <li><a href="{{ arr_cat.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_cat.name }}">{{ arr_cat.name }}</a></li> 
                            {% for arr_subcat in arr_cat.subcategories %}
                              {% if arr_subcat.nicename in arr_product_categories%}
                                <li><a href="{{ arr_subcat.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_subcat.name }}">{{arr_subcat.name }}</a></li> 
                                {% for arr_subcat2 in arr_subcat.subcategories %}
                                  {% if arr_subcat2.nicename in arr_product_categories%}
                                    <li><a href="{{ arr_subcat2.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_subcat2.name }}">{{arr_subcat2.name }}</a></li>
                                  {% endif %}
                                 {% endfor %}
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        {% for arr_cat in category.getList() if arr_cat.nicename == solid.getLang("short")%}
                          {% if arr_cat.nicename in arr_product_categories%}
                            {% for arr_subcat in arr_cat.subcategories %}
                              {% if arr_subcat.nicename in arr_product_categories%}
                                <li><a href="{{ arr_subcat.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_subcat.name }}">{{arr_subcat.name }}</a></li> 
                                {% for arr_subcat2 in arr_subcat.subcategories %}
                                  {% if arr_subcat2.nicename in arr_product_categories%}
                                    <li><a href="{{ arr_subcat2.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_subcat2.name }}">{{arr_subcat2.name }}</a></li>
                                  {% endif %}
                                 {% endfor %} 
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        {% endfor %}      
                      {% endif %}
                    
          
                <li class="active">{{ solid.getGlobal("product_name") }}</li>


              {% elseif firstsegment == "search" %}
                  <li class="active">{{ solid.lang("header.search_results_for")}} {{solid.getUrlsegment(2)|url_decode}}</li>
              {% elseif firstsegment == "contact" %}
                  <li class="active">{{ solid.lang("header.contact")}}</li>
              {% endif %}
            </ol>
        </div>


      <div id="header_sub_language" class="col-xs-12 col-sm-4 col-md-3">
          {##### show language icons ######}
          {% if solid.getGlobal("lang_multilanguage")%}
                 <ul class="header_top_links list-unstyled list-inline pull-right">
                   {% for lang_key in solid.getGlobal("lang_multilanguage_list") %}
                     
                     {% set lang_key_img = lang_key %}
                     {% set url_country =  "" %}
                     {% if lang_key != solid.getGlobal("lang_key_db") %}
                       {% set url_country = "/index"  ~"/" ~ lang_key %}
                     {% else %}
                       {% set url_country = "/" %}
                     {% endif %}
                     
                     
                     <li>
                       <a href="{{url_country}}" title="">
                         <img src="{{solid.files_url}}/img/country/{{lang_key_img|lower}}.gif" alt="{{lang_key_img|lower}}" />
                       </a>
                     </li>

                   {% endfor %}
                 </ul>
              {% endif %}
      </div>

    </div>
  </div>
 