

  <div id="main_sidebar_category">

	 <h3>{{ solid.lang("sidebar.categories") }}</h3>
      {% set firstsegment = solid.getUrlsegment(1) %}
      {% set str_categories = "" %}
      {% if firstsegment == "category" %}
         {% set str_categories  = solid.getUrlSegment(2)%}   
      {% elseif firstsegment == "product" %}
        {% set arr_product = product.get(solid.getUrlSegment(2)) %}
        {% for product_category in arr_product.categories %}
          {% set str_categories  = str_categories ~ product_category.nicename ~ "|"  %}
        {% endfor %}
      {% endif %}
      {% set arr_categories_active  = str_categories|split('|') %}


      <ul class = "list-group list-unstyled">
        {% for arr_cat in category.getList({"order":"name"}) %}

            {#duplicate code#}
            {% if solid.getGlobal("lang_multilanguage") == false %}
            <li class="sidebar-item sidebar_li_level1 {% if arr_cat.nicename in arr_categories_active%}active{% endif %}">
                <a href="{{ arr_cat.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_cat.name }}"><i class="fa fa-chevron-right"></i>{{ arr_cat.name }}</a>
                {% if arr_cat.subcategories|length > 0 %}
                        {% for arr_subcat in arr_cat.subcategories %}
                            <li class="sidebar-item sidebar_li_level2 {% if arr_subcat.nicename in arr_categories_active%}active{% endif %}">
                                <a href="{{ arr_subcat.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_subcat.name }}"><i class="fa fa-chevron-right"></i>{{arr_subcat.name }}</a> 
                                {% if arr_subcat.subcategories|length > 0 %}
                                        {% for arr_subcat2 in arr_subcat.subcategories %}
                                            <li class="sidebar-item sidebar_li_level3 {% if arr_subcat2.nicename in arr_categories_active%}active{% endif %}">
                                                <a href="{{ arr_subcat2.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_subcat2.name }}"><i class="fa fa-chevron-right"></i>{{arr_subcat2.name }}</a>
                                            </li> 
                                        {% endfor %}
                                {% endif %}
                            </li> 
                        {% endfor %}
                {% endif %}
            </li> 
            {% else %}
                {% if arr_cat.nicename == solid.getLang("short") %}
                   {% for arr_subcat in arr_cat.subcategories %}
                            <li class="sidebar-item sidebar_li_level1 {% if arr_subcat.nicename in arr_categories_active%}active{% endif %}">
                                <a href="{{ arr_subcat.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_subcat.name }}"><i class="fa fa-chevron-right"></i>{{arr_subcat.name }}</a> 
                                {% if arr_subcat.subcategories|length > 0 %}
                                        {% for arr_subcat2 in arr_subcat.subcategories %}
                                            <li class="sidebar-item sidebar_li_level2 {% if arr_subcat2.nicename in arr_categories_active%}active{% endif %}">
                                                <a href="{{ arr_subcat2.url }}{{solid.getGlobal("lang_urlsuffix")}}" title="{{ arr_subcat2.name }}"><i class="fa fa-chevron-right"></i>{{arr_subcat2.name }}</a>
                                            </li> 
                                        {% endfor %}
                                {% endif %}
                            </li> 
                  {% endfor %}
                {% endif %}
            {% endif %}

        {% endfor %}
      </ul> 

  </div>  
