<h2  class="heading_content">{{embed.title}}</h2>

  <div class="productgrid-items  " style="position: relative; overflow: hidden;">
      
      {% for arr_product in embed.arr_products %}


        {% set p_name = "" %}
        {% if solid.getGlobal("lang_isdefault") %}
            {% set p_name = arr_product.name %}
        {% else %}
            {% set p_name = attribute(arr_product.custom_fields.translations , solid.getLang("short") ~"name" ).value %}    
             {% if p_name == "" %}
                {% set p_name =  arr_product.name  %}
            {% endif %}   
        {% endif %}

          <div class="productgrid-item  col-xs-6 col-sm-6 col-md-3 " >
            <div class="item-inner">
             

              {% set url_thumbnail = solid.files_url ~ "/img/product/noimage.png" %}
              {% if arr_product.thumbnail %} 
                {% set url_thumbnail = arr_product.thumbnail %}
              {% endif %}

                <a class="" href="{{arr_product.url}}{{solid.getGlobal("lang_urlsuffix")}}" >
                  <img width="260" height="260" src="{{url_thumbnail}}" class="img-responsive " alt="{{p_name}}" title=">{{p_name}}"/> 
                  <h5>
                    {{p_name|char_limit(50)}} 
                  </h5>
                </a> 

                <div class="overlay hidden-sm hidden-xs hidden-md"> 
                      <a class="preview btn btn-overlay" href="{{arr_product.url}}{{solid.getGlobal("lang_urlsuffix")}}">{{arr_product.price|currency("symbol")}}</a>            
                </div>           
              </div>
            

          </div>
      {% endfor %}

</div>