
{# this global variables are set in the config partial#}
{% set url_facebook = solid.getGlobal("social_url_facebook") %}
{% set url_twitter = solid.getGlobal("social_url_twitter") %}
{% set url_linkedin = solid.getGlobal("social_url_linkedin") %}

<ul class="list-inline socialIcons">
	{% if url_facebook != "" %}
		<li>
			<a href="{{url_facebook}}" title="Facebook"><i class="fa fa-facebook socialIcon"></i></a>
		</li>
	{% endif %}
	{% if url_twitter != "" %}
		<li>
			<a href="{{url_twitter}}" title="Twitter" target="_blank"><i class="fa fa-twitter socialIcon"></i></a>
		</li>
	{% endif %}
	{% if url_linkedin != "" %}
		<li>
			<a href="{{url_linkedin}}" title="Linkedin"><i class="fa fa-linkedin socialIcon"></i></a>
		</li> 
	{% endif %}
</ul>


